.body {
  margin: auto;
  display: grid;
  width: 310px;
  height: 310px;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 1fr);
  /* width: 410px;
  height: 410px;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 1fr); */
  column-gap: 5px;
  row-gap: 5px;
  align-items: start;
  background-color: white;
}
