.playerX:hover {
  /* background-color: rgba(0, 0, 255, 0.507); */
  background-color: red;
}

/* .place-button:hover {
  background-color: rgba(3, 3, 32, 0.884);
  font-style: italic;
  color: transparent;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.place-button:focus {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
} */
